.header-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 10px 0px 10px 0px;
}
.logo {
  width: 100px;
  margin: 20px 0px 20px 0px;
}
.logout-button {
  background-color: transparent;
  padding: 8px 20px 8px 20px;
  color: white;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 5px;
}
